services:
  mongo:
    image: mongo:7
    container_name: ventas-mongo-rs
    command: ["mongod", "--replSet", "rs0", "--bind_ip_all", "--port", "27017"]
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: >
        mongosh --quiet --eval "
        try {
          rs.status().ok
        } catch (e) {
          rs.initiate({_id:'rs0', members:[{_id:0, host:'localhost:27017'}]}).ok
        }"
      interval: 5s
      timeout: 10s
      retries: 30

volumes:
  mongo_data:





